body {
	background: #ddd;
	margin: 1rem;
	padding: 1rem;
	max-width: 500px;
	margin: 2rem auto;
	font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}


.form {}

.form-input {
	display: block;
	font-family: monospace;
	background-color: white;
	border: 1px solid #bebebe;
	margin: 5px 0px;
	padding: 5px;
}

.form-btn {
	font-family: monospace;
	background-color: coral;
	color: white;
	border: none;
	border-radius: 100px;
	padding: 5px 10px;
	transition: 500ms;
}

.form-btn:hover {
	background-color: grey;
	color: white;
}