body {
	background: #ddd;
	margin: 1rem;
	padding: 1rem;
	max-width: 500px;
	margin: 2rem auto;
	font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.form-input {
	display: block;
	font-family: monospace;
	background-color: white;
	border: 1px solid #bebebe;
	margin: 5px 0px;
	padding: 5px;
}

.profile-btn {
	font-family: monospace;
	background-color: yellow;
	color: black;
	border: 1px solid #bebebe;
	border-radius: 7px;
	padding: 7px 10px;
	transition: 300ms;
}

.profile-btn:hover {
	background-color: grey;
	color: white;
}

.profilemain {
	display: flex;
}

.profileintro {
	max-width: 50%;
}

section {
	padding: 10px;
}